{{ form_errors(form) }}

<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-body">
                {{ form_row(form.code) }}
                {{ form_row(form.class) }}
                {{ form_row(form.type) }}
            </div>
        </div>
    </div>
    <div class="col-md-8">
        {{ form_row(form.translations) }}
    </div>
</div>
